/* Position and sizing of burger button */
.bm-burger-button {
  display: none;
}

.bm-burger-button > button,
h2,
div {
  outline: none;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: absolute;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}

/* General sidebar styles */
.bm-menu {
  background: #fff;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
  overflow: auto;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

@media only screen and (min-width: 0px) and (orientation: landscape) {
  .bm-menu-wrap {
    width: 300px !important;
  }
}

@media only screen and (min-width: 1024px) {
  .bm-menu-wrap {
    width: 400px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .bm-menu-wrap {
    width: 600px !important;
  }
}
